%div[question]
  .user{ :class => ("you" if question.user == current_user) }
    = link_to question.user, :title => question.user do
      = gravatar_for(question.user)
      .name= question.user
  .content
    %p= question.content
    - if question.answer
      = render question.answer
    - elsif question.supervision.problem_owner?(current_user)
      .answer
        .head
          %p= t(".post_answer", :default => "Your answer")
        = render "answers/form", :question => question
