%div[question]
  = render question.user
  .content
    %p= question.content
    - if question.answer
      = render question.answer
    - elsif question.supervision.problem_owner?(current_user)
      .answer
        .head
          %p= t(".post_answer", :default => "Your answer")
        = render :partial => "answers/form", :locals => { :question => question }
