- @title = t(".title", :default => "Sign in")

%article
  %header
    %h1= t(".signin_title", :default => "Sign in")

  = semantic_form_for(:session, :url => sessions_path) do |f|
    = f.inputs do
      = f.input :email, :input_html => { :type => "email" }
      = f.input :password, :as => :password
    = f.buttons do
      = f.commit_button t(".signin", :default => "Sign in")

  %footer
    = t(".signup_teaser", :default => "New user? ")
    = link_to(t(".links.signup", :default => "Sign up now!"), new_user_registration_path)

