%ul#topic_questions
  %p.head= t(".questions", :default => "Questions")

  - @supervision.topic_questions.each do |question|
    %li[question]
      = render :layout => "supervisions/contentable", :object => question do
        - if question.answer
          %p.head= t(".heading.answer", :default => "Answer")
          %p= question.answer.content
        - else
          - if @supervision.problem_owner?(current_user)
            = semantic_form_for([@supervision, @answer], :url => supervision_topic_answers_path(@supervision)) do |f|
              = f.inputs do
                = f.input :question_id, :as => "hidden", :value => question.id
                = f.input :content
              = f.buttons do
                = f.commit_button t(".answer.submit", :default => "Answer")

  - if @supervision.topic_questions.empty?
    - if @supervision.problem_owner?(current_user)
      %p.no_question= t(".problem_owner.no_questions", :default => "Wait for some questions.")
    - else
      %p= t(".notice.no_questions", :default => "There are no questions... Be the first!")

  #current_step{:"data-step" => @supervision.state}

