- @title = "Chat room"

#chat
  .hidden.timestamp= Time.now.to_i
  %ul.chat_updates
    - @chat_updates.each do |chat_update|
      = render "chat_updates/chat_update", :object => chat_update
    %a.chat_end{:name => 'chat_end'}

  - form_for [ChatRoom.new, ChatUpdate.new] do |f|
    .field
      = f.label :message
      = f.text_field :message
    .actions
      = f.submit "Send"

