- @title = t ".title", :group_name => @chat_room.group.name, :default => "%{group_name} Group Chat"

#chat
  .hidden.timestamp= Time.now.to_i
  #writeboard
    %ul
      %li= link_to "<span>#{t('.links.tabs.problem', :default => 'Problem')}</span>", "#problem"
      %li= link_to "<span>#{t('.links.tabs.idea', :default => 'Idea')}</span>", "#idea"
      %li= link_to "<span>#{t('.links.tabs.solution', :default => 'Solution')}</span>", "#solution"
    #problem= "Problem board presents current problems"
    #idea= "Idea board presents current ideas"
    #solution= "Solution board presents current solutions"

  .main
    = render "chat_users/chat_users"
    %div.chat_part
      = render "chat_rules/chat_rules"

      %ul.chat_updates
        - @chat_room.chat_updates.root.not_new.by_created_at.each do |chat_update|
          = render "chat_updates/chat_update", :object => chat_update
        %a.chat_end{:name => 'chat_end'}
        = link_to(t(".links.new_thread", :default => "new thread"), "#", :class => :new_message)
      = render "chat_updates/form"

