%ul#ideas
  %p.head= t(".ideas", :default => "Ideas")

  - @supervision.ideas.each do |idea|
    %li[idea]
      = render :layout => "supervisions/contentable", :object => idea do
        - if idea.rating || @supervision.problem_owner?(current_user)
          = form_for(idea) do |f|
            %p.head= t(".heading.rating", :default => "Rating")
            = hidden_field_tag :supervision_id, @supervision.id

            - 1.upto(5) do |i|
              = f.label :"rating_#{i}", i, :class => "hidden"
              = f.radio_button :rating, i, (idea.rating ? {:disabled => 'disabled'} : {}).update(:class => "star")

            - unless idea.rating
              = f.submit t(".rate.rate", :default => "Rate")

  - if !%w{idea idea_feedback}.include?(@supervision.state) && controller.is_a?(IdeasController)
    #next_step
      = javascript_tag "document.location='#{supervision_step_path(@supervision)}'"

- if @supervision.state == "idea_feedback"
  - if @supervision.problem_owner?(current_user)
    %p= t(".feedback.info", :default => "Provide the feedback on ideas")

