%div[idea]
  .user{ :class => ("you" if idea.user == current_user) }
    = link_to idea.user, :title => idea.user do
      = gravatar_for(idea.user)
      .name= idea.user
  .content
    %p= idea.content
    - if idea.rating || @supervision.problem_owner?(current_user)
      .rating
        .head
          %p= t(".rating", :default => "Rating")
        = form_for(idea) do |f|
          - if @supervision.problem_owner?(current_user) and !@supervision.finished?
            - 1.upto(5) do |i|
              = f.radio_button :rating, i, { :class => "star" }
            = f.submit t(".submit_rate", :default => "Rate")
          - else
            - 1.upto(5) do |i|
              = f.radio_button :rating, i, { :disabled => true, :class => "star" }
