= semantic_form_for [:founder, @group] do |f|
  = f.inputs do
    = f.input :name, :required => false
    = f.input :description, :required => false
    = f.input :closed

  = f.buttons do
    = f.commit_button
