%section.topics_part
  %header
    %h1= t("supervisions.show.topics")

  - if @supervision.gathering_topics?
    %p.waiting= t("supervisions.show.topics_waiting")

    - unless @supervision.posted_topic?(current_user)
      .topic.form
        = render current_user
        .content
          = render :partial => 'topics/form'

  .list
    = render @supervision.topics
