= render :layout => "supervisions/contentable", :object => topic, :locals => {:content => topic_content(topic)} do
  - if @vote && topic.content.present?
    = semantic_form_for([@supervision, @vote], :url => supervision_topic_votes_path(@supervision)) do |f|
      = f.input :statement_id, :as => :hidden, :value => topic.id
      = f.input :statement_type, :as => :hidden, :value => "Topic"

      = f.commit_button t(".vote", :default => "Vote")

