- @title = t(".title", :default => "New Topic")

%article
  %p= t(".content.hint", :default => "Enter your problem or leave this blank if you do not have any.")

  = semantic_form_for([@supervision, @topic]) do |f|
    = f.inputs do
      = f.input :content
    = f.buttons do
      = f.commit_button t(".submit", :default => "Submit Topic")

