- if current_user.active_member_of?(group)
  %li= link_to_group_supervision(t(".links.session", :default => "Session"), group)
  %li= link_to t(".links.chat", :default => "Chat"), group_chat_room_path(group)
  - unless group.founder == current_user
    %li= button_to t(".links.leave", :default => "leave"), group_membership_path(group), :method => :delete
  - if group.founder == current_user
    %li= link_to t(".links.edit", :default => "Edit"), edit_founder_group_path(group)
- elsif current_user.invited_member_of?(group)
  %li= button_to t(".links.accept", :default => "accept"), group_invitation_path(group), :method => :put
  %li= button_to t(".links.reject", :default => "reject"), group_invitation_path(group), :method => :delete
- elsif current_user.requested_member_of?(group)
  %li= t(".requested_info", :default => "Awaiting group owner acceptance")
- elsif group.public?
  %li= button_to t(".links.join", :default => "join"), group_membership_path(group)
- elsif group.closed?
  %li= button_to t(".links.request", :default => "request membership"), group_requests_path(group)
