<table><tr><td style="width:480px;"><h2>User Groups List </h2></td>
    <td><%= link_to image_tag("group-new.png",:height=>"40",:width=>"40"),new_group_path %></td></tr></table>
<table>

  <tr>
    <td>
      <table>
          <tr>
            <th>Group Name</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Invite</th>
          </tr>
          <%if @group%>
            <%for group in @group%>
              <tr>
                <td>
                  <%= link_to "#{group.name}",group %>
                </td>
                <td>
                  <%= link_to "delete", group, :method => :delete, :confirm => "You sure?" %>
                </td>
                <td>
                  <%= link_to 'Edit', edit_group_path(@group) %>
                </td>

                <td>
                  <%= link_to "invite", :action =>"invite", :gid => group.id %>
                </td>

              </tr>
            <%end%>
          <%else%>
            <tr>
              <td>
                <%#=flash[:notice]%>
              </td>
            </tr>

          <%end%>



        </table>
      </td>
    </tr>
  </table>


