%article#group
  %section#group_content
    %header
      %h1
        = @group.name
        - if @group.founded_by?(current_user)
          %span.small= link_to t(".edit", :default => "edit"), edit_founder_group_path(@group)
      %p.description= @group.description
    - if @group.supervisions.current
      .info_box.round
        = t(".active_supervision_html", :url => link_to_group_supervision(t(".join"), @group))

    .group_members
      %ul
        %li
          = gravatar_for(@group.founder, :size => 30)
          = link_to(@group.founder.name, @group.founder)
          (Founder)
        - @group.active_members.without(@group.founder).each do |user|
          %li
            = gravatar_for(user, :size => 30)
            = link_to(user.name, user)
      - if @group.founded_by?(current_user) and @group.requested_memberships.any?
        .info_box.round
          = t(".requested_memberships_info_html", :count => @group.requested_memberships.count, :url => link_to(t(".manage"), edit_founder_group_path(@group)))

    - if @group.supervisions.finished.present?
      %h3= t(".history")
      %ul
        - @group.supervisions.finished.each do |supervision|
          %li= "Supervision - #{l(supervision.created_at, :format => :short)}"

    - if @group.active_members.include?(current_user)
      - unless @group.supervisions.current
        = link_to t(".new_supervision"), new_group_supervision_path(@group)
      - unless @group.founded_by?(current_user)
        = button_to t(".leave_group"), group_membership_path(@group), :method => :delete

  %section#chat_room
    = render "chat_rooms/list"
