%h2
  = gravatar_for @user
  = h @user.name

%ul.groups
  %h3= "#{@user.name}'s Group List"

  - @user.groups.each do |group|
    %li= link_to(group_name(group, @user), group_path(group))

- if signed_in?
  = render "follow_form"

%ul.microposts
  %h3 Microposts
  = render @microposts

