%table
  %tr
    %td.main
      %h2= @title
      - unless @users.empty?
        - users_list(@users)
        = will_paginate @users
    %td.sidebar.round
      %strong Name
      = h @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      = render 'pages/stats'
      - unless @users.empty?
        - @users.each do |user|
          = link_to gravatar_for(user, :size => 30), user
