%article
  %h2= @group.name

  %h3 Invite person
  = render "form"

  %h3 Requested memberships
  %ul
    - @group.requested_memberships.each do |membership|
      %li
        .inline= membership.email
        .inline= button_to t(".links.accept", :default => "accept"), owner_group_request_path(@group, membership), :method => :put
        .inline= button_to t(".links.reject", :default => "reject"), owner_group_request_path(@group, membership), :method => :delete

  %h3 Sent invitations
  %ul
    - @group.invited_memberships.each do |membership|
      %li= membership.email

  %h3 Current members
  %ul
    - @group.active_members.each do |member|
      %li= "#{member.name} <#{member.email}>"
