%article
  %header
    %h1= t(".title", :default => "PeerGroup")

  %p
    = t(".description", :default => "This is the live test site for the PeerGroup project for Patongo. Visit <a href='http://www.patongo.de/'>project page</a>.").html_safe

  %h2= t(".about_title", :default => "About PeerGroup")
  = render 'about'

  %footer
    = link_to t(".links.signup", :default => "Sign up now!"), new_user_registration_path, :class => "signup_button"
