%article.with_sidebar
  %header
    %h1= t(".latest_groups", :default => "Latest groups")

  .groups
    = render Group.newest

  %aside.hergroups.round
    = render 'pages/user_info'
    %div= t(".your_groups", :default => "Your groups")
    = render current_user.groups
