- if rateable.rating || @supervision.problem_owner?(current_user)

  = form_for([@supervision, rateable]) do |f|
    %p.head= t(".heading.rating", :default => "Rating")
    - 1.upto(5) do |i|
      = f.label :"rating_#{i}", i, :class => "hidden"
      = f.radio_button :rating, i, (rateable.rating ? {:disabled => 'disabled'} : {}).update(:class => "star")

    - unless rateable.rating
      = f.submit t(".rate.rate", :default => "Rate")

