.supervision_feedbacks_part
  %h2= t(".supervision_feedback", :default => "General feedback on supervision")

  - if @supervision.supervision_feedback?
    %p.waiting= t("waiting", :default => "Waiting for all feedbacks")

    - unless @supervision.posted_supervision_feedback?(current_user)
      = semantic_form_for([@supervision, SupervisionFeedback.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t(".supervision_feedback_content_hint", :default => "Provide feedback on current supervision")
        = f.buttons :commit

  = render @supervision.supervision_feedbacks
