.ideas_part
  %h2= t(".ideas", :default => "Ideas")
  - if @supervision.idea?
    - if @supervision.problem_owner?(current_user)
      %p.waiting= t(".waiting_for_ideas", :default => "Waiting for ideas")
    - else
      %p.waiting= t(".waiting", :default => "Waiting for others")

    - if !@supervision.problem_owner?(current_user) && !@supervision.voted_on_next_step?(current_user)
      = semantic_form_for([@supervision, Idea.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t(".idea_content_hint", :default => "Enter your idea")
        = f.buttons do
          = f.commit_button
          %li= link_to(t(".no_more_ideas", :default => "I have no more ideas"), supervision_votes_path(@supervision), :method => :post)

  - if @supervision.ideas
    = render @supervision.ideas
