.ideas_feedback_part
  %h2= t(".ideas_feedback", :default => "Feedback on ideas")

  - unless @supervision.ideas_feedback
    - if @supervision.problem_owner?(current_user)
      = semantic_form_for([@supervision, IdeasFeedback.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t(".ideas_feedback_content_hint", :default => "Provide feedback on ideas")
        = f.buttons :commit
    - else
      %p.waiting= t(".waiting_for_feedback", :default => "Waiting for problem owner feedback")

  - if @supervision.ideas_feedback
    = render @supervision.ideas_feedback
