.topics_part
  %h2= t("supervisions.show.topics", :default => "Topics")

  - if @supervision.gathering_topics?
    %p.waiting= t("supervisions.show.topics_waiting", :default => "Waiting for topics from all participants")

    - unless @supervision.posted_topic?(current_user)
      = semantic_form_for([@supervision, Topic.new]) do |f|
        = f.inputs t("supervisions.show.post_topic", :default => "Your topic") do
          = f.input :content, :hint => t("supervisions.show.topic_content_hint", :default => "Enter your problem or leave this blank if you do not have any")
        = f.buttons :commit

  = render @supervision.topics
