.topics_votes_part
  %h2= t(".topic_votes", :default => "Topic votes")

  - if @supervision.topic_vote?
    %p.waiting= t(".waiting", :default => "Waiting for all votes")

    - @supervision.topics.each do |topic|
      %div[topic]
        = render topic.user
        .content
          %p= topic_content(topic)
          = form_for([@supervision, topic, Vote.new]) do |f|
            = f.submit t(".submit_vote", :default => "Vote"), :disabled => @supervision.voted_on_topic?(current_user)
