.solutions_feedback_part
  %h2= t("supervisions.show.solutions_feedback", :default => "Feedback on solutions")

  - if @supervision.giving_solutions_feedback?
    - if @supervision.problem_owner?(current_user)
      = semantic_form_for([@supervision, SolutionsFeedback.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t("supervisions.show.solutions_feedback_content_hint", :default => "Provide feedback on solutions")
        = f.buttons :commit
    - else
      %p.waiting= t("supervisions.show.solutions_feedback_waiting", :default => "Waiting for problem owner feedback")

  - else
    = render @supervision.solutions_feedback

