.supervision_feedbacks_part
  %h2= t("supervisions.show.supervision_feedbacks", :default => "General feedback on supervision")

  - if @supervision.giving_supervision_feedbacks?
    %p.waiting= t("supervisions.show.supervision_feedbacks_waiting", :default => "Waiting for all feedbacks")

    - unless @supervision.posted_supervision_feedback?(current_user)
      = semantic_form_for([@supervision, SupervisionFeedback.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t("supervisions.show.supervision_feedback_content_hint", :default => "Provide feedback on current supervision")
        = f.buttons :commit

  = render @supervision.supervision_feedbacks
