.ideas_part
  %h2= t("supervisions.show.ideas", :default => "Ideas")

  - if @supervision.providing_ideas?
    - if @supervision.problem_owner?(current_user)
      %p.waiting= t("supervisions.show.problem_owner_ideas_waiting", :default => "Waiting for ideas")
    - else
      %p.waiting= t("supervisions.show.ideas_waiting", :default => "Waiting for others")

    - if !@supervision.problem_owner?(current_user) && !@supervision.voted_on_next_step?(current_user)
      = semantic_form_for([@supervision, Idea.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t("supervisions.show.idea_content_hint", :default => "Enter your idea")
        = f.buttons do
          = f.commit_button
          %li= link_to(t("supervision.show.no_more_ideas", :default => "I have no more ideas"), supervision_votes_path(@supervision), :method => :post)

  = render @supervision.ideas
