.solutions_part
  %h2= t(".solutions", :default => "Solutions")

  - if @supervision.solution?
    - if @supervision.problem_owner?(current_user)
      %p.waiting= t(".waiting_for_solutions", :default => "Waiting for solutions")
    - else
      %p.waiting= t(".waiting", :default => "Waiting for others")

    - if !@supervision.problem_owner?(current_user) && !@supervision.voted_on_next_step?(current_user)
      = semantic_form_for([@supervision, Solution.new]) do |f|
        = f.inputs do
          = f.input :content, :hint => t(".solution_content_hint", :default => "Enter your solution")
        = f.buttons do
          = f.commit_button
          %li= link_to(t(".no_more_solutions", :default => "I have no more solutions"), supervision_votes_path(@supervision), :method => :post)

  = render @supervision.solutions
