%article[@supervision]{:data => {:"supervision-state" => @supervision.state, :token => @token}}
  %header
    %h1= t("supervisions.show.heading")

    %ul.supervision_statusbar
      - Supervision::STATES.each do |state|
        %li{ :"data-state-name" => state, :class => @supervision.state == state ? "state current_state" : "state"}
          = form_for @supervision, :remote => true do |f|
            - if @supervision.respond_to? "step_back_to_#{state}"
              = f.hidden_field :state_event, :value => "step_back_to_#{state}"
            = submit_tag t("supervisions.show.supervision_state.#{state}"),  :title => t("supervisions.show.supervision_state_title.#{state}")

    - if @supervision.finished?
      = render :partial => "supervision_finished"

  - if @supervision.gathering_topics?
    = render :partial => "supervision_topics"

  - if @supervision.voting_on_topics?
    = render :partial => "supervision_topic_votes"

  - if @supervision.step_finished?(:voting_on_topics)
    = render :partial => "supervision_questions"

  - if @supervision.step_finished?(:asking_questions)
    = render :partial => "supervision_ideas"

  - if @supervision.step_finished?(:providing_ideas)
    = render :partial => "supervision_ideas_feedback"

  - if @supervision.step_finished?(:giving_ideas_feedback)
    = render :partial => "supervision_solutions"

  - if @supervision.step_finished?(:providing_solutions)
    = render :partial => "supervision_solutions_feedback"

  - if @supervision.step_finished?(:giving_solutions_feedback)
    = render :partial => "supervision_supervision_feedbacks"

  %footer
    - if @supervision.finished?
      = render :partial => "supervision_finished"
