- @title = t(".title", :default => "Supervision")

%article
  %header
    %h1= t(".heading", :default => "Supervision feedback")

  %p
    = t(".supervision_finished", :default => "This supervision is finished.")
    - if @supervision.group.current_supervision.present?
      = link_to(t(".go_to_current", :default => "Go to current supervision session"), supervision_step_path(@supervision.group.current_supervision))
    - else
      = link_to(t(".create_new", :default => "Create new?"), new_supervision_path(:group_id => @supervision.group))

  %p.head= t(".topic", :default => "Topic")
  = render "topics/topic", :topic => @supervision.topic

  %p.head= t(".questions", :default => "Questions")
  = render "topic_questions/questions"

  %p.head= t(".ideas", :default => "Ideas")
  = render "ideas/ideas"

  %p.head= t(".ideas_feedback.heading", :default => "Feedback on ideas:")
  = render(:partial => "supervisions/contentable", :object => @supervision.ideas_feedback)

  %p.head= t(".solutions", :default => "Solutions")
  = render "solutions/solutions"

  %p.head= t(".solutions_feedback.heading", :default => "Feedback on solutions:")
  = render(:partial => "supervisions/contentable", :object => @supervision.solutions_feedback)

  %p.head= t(".supervision_feedback.heading", :default => "General feedback on supervision:")
  - @supervision.supervision_feedbacks.each do |supervision_feedback|
    = render(:partial => "supervisions/contentable", :object => supervision_feedback)

  %footer
    = t(".supervision_finished", :default => "This supervision is finished.")
    - if @supervision.group.current_supervision.present?
      = link_to(t(".go_to_current", :default => "Go to current supervision session"), supervision_step_path(@supervision.group.current_supervision))
    - else
      = link_to(t(".create_new", :default => "Create new?"), new_supervision_path(:group_id => @supervision.group))
