%article[@supervision]{:data => {:"supervision-state" => @supervision.state, :token => @token}}
  %header
    %h1= t("supervisions.show.heading")

    %ul.supervision_statusbar
      - Supervision::STATES.each do |state|
        %li{ :"data-state-name" => state, :class => @supervision.state == state ? "state current_state" : "state"}
          = form_for @supervision, :remote => true do |f|
            - if @supervision.respond_to? "step_back_to_#{state}"
              = f.hidden_field :state_event, :value => "step_back_to_#{state}"
            = submit_tag t("supervisions.show.supervision_state.#{state}"),  :title => t("supervisions.show.supervision_state_title.#{state}")

    %div{:"data-show-in-state" => "finished"}
      = render "supervision_finished", :supervision => @supervision

  %aside.chat_room_part
    %div[@supervision.chat_room]{ :data => { :token => @token } }
      %div.messages_part
        %ul.messages
          - @chat_messages.reverse_each do |chat_message|
            %li[chat_message]
              %span.message-user= chat_message.user
              %time{ :datetime => chat_message.created_at.getutc.iso8601 }= chat_message.created_at.to_s
              \:
              %span.message-content= chat_message.content
      = form_for([@supervision.chat_room, ChatMessage.new], :remote => true) do |f|
        = f.text_field :content
        = submit_tag ">>"

  %div.supervision-content{:style => "width: 66%;float:left" }
    %section.topics_part
      %header
        %h1= t("supervisions.show.topic")

      .list
        = render @supervision.topic, :supervision => @supervision

    %section.questions_part
      %header
        %h1= t("supervisions.show.questions")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "asking_questions"}
          %p.waiting= t("supervisions.show.questions_waiting")

          - unless @supervision.problem_owner?(current_user)
            .form.question
              .user
                = render current_user
              .content
                = render "questions/form", :supervision => @supervision
                = link_to t("supervisions.show.no_more_questions"), supervision_votes_path(@supervision), :method => :post, :class => "discard"

      .list
        = render @supervision.topic_questions, :supervision => @supervision

    %section.ideas_part
      %header
        %h1= t("supervisions.show.ideas")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "providing_ideas"}
          - if @supervision.problem_owner?(current_user)
            %p.waiting= t("supervisions.show.problem_owner_ideas_waiting")
          - else
            %p.waiting= t("supervisions.show.ideas_waiting")
            .form.idea
              .user
                = render current_user
              .content
                = render "ideas/form", :supervision => @supervision
                = link_to t("supervisions.show.no_more_ideas"), supervision_votes_path(@supervision), :method => :post, :class => "discard"

      .list
        = render @supervision.ideas, :supervision => @supervision

    %section.ideas_feedback_part
      %header
        %h1= t("supervisions.show.ideas_feedback")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "giving_ideas_feedback"}
          - if @supervision.problem_owner?(current_user)
            .form.ideas_feedback
              .user
                = render current_user
              .content
                = render "ideas_feedbacks/form"
          - else
            %p.waiting= t("supervisions.show.ideas_feedback_waiting")

      .list
        = render @supervision.ideas_feedback if @supervision.ideas_feedback

    %section.solutions_part
      %header
        %h1= t("supervisions.show.solutions")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "providing_solutions"}
          - if @supervision.problem_owner?(current_user)
            %p.waiting= t("supervisions.show.problem_owner_solutions_waiting")
          - else
            %p.waiting= t("supervisions.show.solutions_waiting")
            .form.solution
              .user
                = render current_user
              .content
                = render "solutions/form", :supervision => @supervision
                = link_to t("supervisions.show.no_more_solutions"), supervision_votes_path(@supervision), :method => :post, :class => "discard"

      .list
        = render @supervision.solutions, :supervision => @supervision

    %section.solutions_feedback_part
      %header
        %h1= t("supervisions.show.solutions_feedback")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "giving_solutions_feedback"}
          - if @supervision.problem_owner?(current_user)
            .form.solutions_feedback
              .user
                = render current_user
              .content
                = render "solutions_feedbacks/form", :supervision => @supervision
          - else
            %p.waiting= t("supervisions.show.solutions_feedback_waiting")

      .list
        = render @supervision.solutions_feedback if @supervision.solutions_feedback

    %section.supervision_feedbacks_part
      %header
        %h1= t("supervisions.show.supervision_feedbacks")

      - unless @supervision.finished?
        %div{:"data-show-in-state" => "giving_supervision_feedbacks"}
          %p.waiting= t("supervisions.show.supervision_feedbacks_waiting")
          .form.supervision_feedback
            .user
              = render current_user
            .content
              - unless @supervision.posted_supervision_feedback?(current_user)
                = render "supervision_feedbacks/form", :supervision => @supervision

      .list
        = render @supervision.supervision_feedbacks, :supervision => @supervision

  %footer
    %div{:"data-show-in-state" => "finished"}
      = render "supervision_finished", :supervision => @supervision
