- @title = t(".title", :default => "Supervision")

%article[@supervision]{:data => {:"supervision-state" => @supervision.state, :token => @token}}
  %header
    %h1= t(".heading", :default => "Supervision feedback")

    - if @supervision.finished?
      = render :partial => "supervision_finished"

  - if @supervision.topic?
    = render :partial => "supervision_topic"

  - if @supervision.topic_vote?
    = render :partial => "supervision_topic_vote"

  - if @supervision.step_finished?(:topic_vote)
    = render :partial => "supervision_topic_question"

  - if @supervision.step_finished?(:topic_question)
    = render :partial => "supervision_idea"

  - if @supervision.step_finished?(:idea)
    = render :partial => "supervision_idea_feedback"

  - if @supervision.step_finished?(:idea_feedback)
    = render :partial => "supervision_solution"

  - if @supervision.step_finished?(:solution)
    = render :partial => "supervision_solution_feedback"

  - if @supervision.step_finished?(:solution_feedback)
    = render :partial => "supervision_supervision_feedback"

  %footer
    - if @supervision.finished?
      = render :partial => "supervision_finished"
