%ul
  - @group.rules.each do |rule|
    %li.rule
      %h3= rule.name
      .details
        .description= markdown(rule.description)
        .time_limit= t(".time_limit", :count => rule.time_limit, :default => "%{count} minutes")
        %ul.actions
          %li.edit= link_to t(".links.edit", :default => "Edit"), edit_group_rule_path(@group, rule)
          %li.remove= link_to t(".links.remove", :default => "Remove"), group_rule_path(@group, rule), :method => :delete

