= semantic_form_for([@supervision, Solution.new]) do |f|
  = f.inputs do
    = f.input :content, :hint => t("supervisions.show.solution_content_hint")
  = f.buttons do
    = f.commit_button
    %li= link_to t("supervisions.show.no_more_solutions"), supervision_votes_path(@supervision), :method => :post, :class => "discard"
