%header
  %hgroup
    %h1= link_to t(".title.peergroup", :default => "peergroup"), root_path
    %h2= title
    .locales
      - ["en", "de"].each do |locale|
        = link_to locale, switch_locale_url(locale)
  %nav
    %ul#general_menu
      - if signed_in?
        %li= link_to t(".links.users", :default => "Users"), users_path
        %li= link_to t(".links.groups", :default => "Groups"), all_groups_path
      %li= link_to t(".links.help", :default => "Help"), help_path
    %ul#personal_menu
      - if signed_in?
        %li= link_to current_user.name, current_user
        %li= link_to t(".links.signout", :default => "Sign out"), signout_path, :method => :delete
      - else
        %li= link_to t(".links.signin", :default => "Sign in"), signin_path
