%header
  %hgroup
    %h1= link_to t(".title.peergroup", :default => "peergroup"), root_path
    %h2= title
    .locales
      - I18n.available_locales.each do |locale|
        = link_to locale, switch_locale_url(locale)
  %nav
    = t(".title.welcome", :default => "Welcome ") if signed_in? 
    = t(".title.user_name", :default => "%{user_name}", :user_name => current_user.name) if signed_in? 
    %ul
      %li= link_to t(".links.home", :default => "Home"), root_path
      - if signed_in?
        %li= link_to t(".links.users", :default => "Users"), users_path
        %li= link_to t(".links.profile", :default => "Profile"), current_user
        %li= link_to t(".links.create_group", :default => "Create Group"), new_group_path
        %li= link_to t(".links.my_groups", :default => "My Groups"), user_groups_path(current_user)
        %li= link_to t(".links.all_groups", :default => "All Groups"), groups_path
        %li= link_to t(".links.supervisions", :default => "Supervisions"), supervisions_path
        %li= link_to t(".links.settings", :default => "Settings"), edit_user_path(current_user)
      %li= link_to t(".links.help", :default => "Help"), help_path
      - if signed_in?
        %li= link_to t(".links.signout", :default => "Sign out"), signout_path, :method => :delete
      - else
        %li= link_to t(".links.signin", :default => "Sign in"), signin_path
